.logo h1 {
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 5px grey;
    padding: 10px;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(93,185,70,1) 0%, rgba(242,197,130,1) 37%);
  }

html{
    height: 100%;
}
/* about us section */
.center-box {
    background-color: #FEE8C8;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
}
/* styling for meet the team section */
.meet-developers{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FEE8C8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.team-member-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member{
    width: 45%;
    margin: 10px;
    text-align: center;
}

p {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 150%;
  }

h2{
    color:  white;
    text-shadow: 2px 2px 5px grey;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    font-weight: bolder;
}