/* body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
} */

.logo img {
    width: 100px;
    height: auto; 
  }

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/*  styles for the login and signup buttons */
.login-signup {
    display: flex;
    align-items: center;
    padding: 10px;
}

.login-signup a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 12px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #5DB946;
}

/* top navigation bar */
.top-nav {
    color: white;
    display: flex;
    text-align: center;
}

.top-nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
}