/* css page just for intrests quiz page */
/* main css is still from original */

* { /*?*/
    box-sizing: border-box;
  }

.interestBox{
    display: flex;
    flex-wrap: wrap;
}

.interestBox .option_item{
  display: block;
  position: relative;
  width: 175px;
  height: 175px;
  margin: 10px;
}

.interestBox .option_item .checkbox{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner{
  width: 100%;
}

.option_item .option_inner .icon{
  margin-bottom: 10px;
}

.option_item .option_inner .icon .fab{
  font-size: 32px;
}

.option_item .option_inner .name{
  user-select: none;
}

.option_item .checkbox:checked ~.option_inner.food{
  color:blueviolet; 
  /* colot can be changed later */
}

/* .option_item .option_inner .tickmark{

} */

/* not sure if this bottom one is needed
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  } */

