.logo img {
    width: 100px;
    height: auto;
    vertical-align: middle;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.top-nav {
    display: flex;
}

.top-nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;

}

.login-signup {
    display: flex;
    align-items: center;
    padding: 10px;
}

.login-signup a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 12px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #5DB946;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(93,185,70,1) 0%, rgba(242,197,130,1) 37%);
    margin: 0;
    padding: 0;
  }

html{
    height: 100%;
}

h1 {
    color: white !important;
    text-shadow: 2px 2px 5px grey;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
}

form {
    margin-bottom: 20px;
    text-align: center;
}
input[type="text"], select {
    padding: 8px;
    margin-right: 10px;
    width: 200px;
    box-sizing: border-box;
}
#placesList {
    margin-bottom: 20px;
    text-align: center;
}
#placesList {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
button {
    padding: 10px;
    background-color: #FEE8C8;
    color: #000;
    border: 2px solid #FEE8C8;
    cursor: pointer;
}
button:hover {
    background-color: #FEE8C8;
}

#planTrip{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#planTripBtn {
    margin-bottom: 10px;
}
a {
    display : block;
  }
  a iframe {
    pointer-events : none;
  }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url('https://fonts.googleapis.com/css?family=Inter');
}
