body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(93,185,70,1) 0%, rgba(242,197,130,1) 37%);
  }

.center-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-form p {
    margin-left: -30%;
}

.register-description,
.register-form label {
    font-family: 'Inter', sans-serif;
    font-size: medium;
    font-weight: lighter;
}

.register-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo h1 {
    font-weight: bolder;
    color: white;
    padding: 10px;
}


body h1 {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

body p {
    font-weight: lighter;
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-group {
    width: 33vw;
}

.btn.sign-up {
    background-color: #5EBA47;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
}

/* create-account styles */        
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 10px;

}

.row label {
    margin-right: 10px;
}

.row input {
    margin-right: 10px;
    text-align: center;
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url('https://fonts.googleapis.com/css?family=Inter');
}