
.logo h1 {
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 5px grey;
    padding: 10px;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(93,185,70,1) 0%, rgba(242,197,130,1) 37%);
  }

html{
    height: 100%;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place {
    display: flex;
    justify-items: center;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    gap: 20px;
    padding: 5%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.place img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    margin: 0;
}

.place img{
    object-fit: cover;
    border: 2px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

p1{
    font-size: x-large;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #354D19;
}

p2{
    white-space: pre;
    font-size: medium;
    font-weight: bold;
    color: #31493C;
}

.button{
    background-color: #5EBA47;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    justify-items: center;
}

.button:hover {
    text-decoration: none;
    background-color: #52A33E;
    color: white;
    transition: all .3s;
}
.fixed-image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 450px; 
    height: auto; 
}


/* .place::before {
    display: none;
} */

*::-webkit-scrollbar {
    height: 1px;
    position: absolute;
    }
    *::-webkit-scrollbar-track {
    background-color: #ffffff00;
    }
    
    *::-webkit-scrollbar-track:hover {
    background-color: #ffffff00;
    }
    
    *::-webkit-scrollbar-track:active {
    background-color: #ffffff00;
    }
    
    *::-webkit-scrollbar-thumb {
    background-color: #b79666;
    }
    
    *::-webkit-scrollbar-thumb:hover {
    background-color: #f2c582;
    }
    
    *::-webkit-scrollbar-thumb:active {
    background-color: #b79666;
    }

    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
    }