<!-- About Us/ How this works-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <div class="logo">
            <h1>hangogo</h1>
            <ul>
                <li><a href="logout">logout</a></li>
            </ul>
        </div> -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/about_us.css">
        <link rel="stylesheet" href="../static/css/navBar.css">
        <!-- Boxicons stylesheet -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
        <title>About us!</title>
    </head>
    <body>
        <div class ="header-container">
            <div class="top-nav">
                <div class="logo">
                    <a href="{{ url_for('index') }}">
                        <img src="../static/icons/hangogo.png" alt="hangogo">
                    </a>
                </div>
                <a href="#">About</a>
                <a href="/contact">Contact Us</a>
            </div>
    
            <div class = "login-signup">
                <a href="register">sign-up</a>
                <a href="login">login</a>
            </div>
        </div>

        <h2> About Us</h2>
        <div class="center-box">
            <p> HangoGo is an AI-based hangout place recommendation web application. The app will aim to resolve the common problem amongst friend groups of having a difficult time choosing where to go. </p>
        </div>
        <h2> How to use</h2>
        <div class="center-box">
            <p>Just type in your preferences, such as the type of place you're looking for or any specific requirements. </p>
            <p>Hangogo will recommend places based on your preferences. You can simply accept or reject its suggestions.</p>
            <p>When you find a place you like, simply click "Accept," and Hango will show you the location on the map to the left of your chat.</p>

        </div>
        <h2> Meet the developers! </h2>
        <div class="meet-developers">
            <div class="team-member-container">
                <div class="team-member">
                    <!-- image goes here -->
                    <p>Gloria Lee</p>

                </div>
                <div class="team-member">
                    <!-- image goes here -->
                    <p>Nhu Nguyen</p>

                </div>
                <div class="team-member">
                    <!-- image goes here -->
                    <p>Lizeth Valdovinos</p>

                </div>
                <div class="team-member">
                    <!-- image goes here -->
                    <p>Aidan Mara</p>

                </div>
            </div>
        </div>
        

    </body>

</html>