<!DOCTYPE html>
<!-- Create Account Page, get user's first and last name, birthday (verify age-->
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section id = account>
            
            <div class = "accountInfo">
                
                <form> 
                    <h2>finish creating account <3 </h2>
                    <p1>please don't leave!</p1>
                    <br>
                    <label for="fname"><br>first name</br></label>
                    <input type="text" placeholder="first name" id="fname" name="fname" required>
                    <br>
                    <label for="lname"><br>last name</br></label>
                    <input type="text" placeholder="last name" id="lname" name="lname" required>
                    <br>
                    <label for="date"><br>age</br></label>
                    <input type="date" id="bday" name="bday" required>
                    <br><br>
                    <input type="submit" class="button2" value="next">

                </form>
            </div>
        </section>
        <script>
            //age validation can be done here
        </script>

    </body>
</html>