<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


  <body>
    <div class="container mt-5">
        <div class="chatbox">
                  <div class="messages" id="messages">
                    <div class="scroll" class="scroll">
                    <div id="message-stack" class="message-stack"></div>
                    </div>
                  </div>

              <form id="message-form" class="send-message-form" method="post" action="{{ url_for('index') }}">
                <div class="input-group">
                  <select class="selector" id="message_type" name="message_type" required onchange="showFields()">
                    <option value="">Please select...</option>
                    <option value="default">Recommend me anything!</option>
                    <option value="radius">Recommend me anything in a radius</option>
                    <option value="type">Recommend me a type...</option>
                    <option value="type_radius">Recommend me this type in this radius</option>
                  </select>
                <div class="additional-fields" id="additional-fields"></div>
                </div>

                <button type="submit" id = "submit_button">Send</button>
              </form> 
            </div>
        </div>

    <script src="{{ url_for('static', filename='js/chatbox.js') }}">
    </script>
    
  </body>
  </html>