<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User History</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>


  <body>
    <div class="container mt-5">
        <img type="button" id="back-button" class="back-button" title="return" src="static\chevron-left-square-regular-40.png"/>
        <img type="button" id="del-button" class="del-button" title="delete history" src="static\trash-alt-regular-36.png"/>
        <div class="chatbox">
                  <div class="messages" id="messages">
                    <div class="scroll" class="scroll">
                    <div id="message-stack" class="message-stack"></div>
                    </div>
                </div>
            </div>
        </div>
    <script src="static\js\history.js"></script>
  </body>
  </html>