<!DOCTYPE html>
<!-- Create Account Page, get user's first and last name, birthday (verify age-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div id="logo">
                <img src="../Logos/hangogo.png" alt="Hangogo">
            </div>
        </header>
        <section id = interests>
            <div class = "gatherInterests">
                <form>
                    <h2>finish creating account</h2>
                    <p1>almost there!</p1>
                    <br><br>
                    <p1>do a little quiz! we ll be using this to generate your
                        first recommendation :) select 3-5 categories that interest you.</p1>
                    <br><br>
                    <input type="checkbox" id="interest1" name="interest1" value="Food">
                    <label for="interest1"> Food</label><br>

                    <input type="checkbox" id="interest2" name="interest2" value="Entertainment">
                    <label for="interest2"> Entertainment</label><br>

                    <input type="checkbox" id="interest3" name="interest3" value="Nature/Recreation">
                    <label for="interest3"> Nature/Recreation</label><br>

                    <input type="checkbox" id="interest4" name="interest4" value="Nightlife">
                    <label for="interest4"> Nightlife</label><br>

                    <input type="checkbox" id="interest5" name="interest5" value="Drinks">
                    <label for="interest5"> Drinks</label><br>
                    
                    <input type="checkbox" id="interest6" name="interest6" value="Museum/Art">
                    <label for="interest6"> Museum/Art</label><br>

                </form>
            </div>

        </section>
        

    </body>
</html>