/* css page just for intrests quiz page */
/* main css is still from original */

* { /*?*/
    box-sizing: border-box;
  }

.interestBox{
    float: center;
    width: 50%;
    
}
/* not sure if this bottom one is needed */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }