<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="../scripts/landing_page_edit.js"></script> -->
    <!-- <div class="logo">
        <h1>hangogo</h1>
        <ul>
            <li><a href="logout">logout</a></li>
        </ul>
    </div> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/landing_page.css">
    <link rel="stylesheet" href="../static/css/navBar.css">
    <!-- Boxicons stylesheet -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Hangogo</title>
    <link rel="icon" type="image/x-icon" href="../static/icons/Hango-icon.png">

</head>
<body>
    <!-- Top Nav (Lizeth) -->
    <div class ="header-container">
        <div class="top-nav">
            <div class="logo">
                <img src="../static/icons/hangogo.png" alt="hangogo">
            </div>
            <a href="/about_us">About</a>
            <a href="/top_loactions">Top Locations</a>
            <a href="/collections">Collections</a>
            <a href="/contact">Contact Us</a>
        </div>

        <div class = "login-signup">
            {% if username %}
                <a href="{{ url_for('logout') }}">logout</a>
            {% else %}
                <a href="{{ url_for('register') }}">sign Up</a>
                <a href="{{ url_for('login') }}">login</a>
            {% endif %}
        </div>
    </div>
    <!-- End of Top Nav -->

    <!--  Nav Bar (Lizeth)-->
    <div class="navbar">
        <!-- User Profile -->
        <div class="icon-container"> 
                <i class="bx bxs-user-detail icon"></i>
        </div>
        <!-- Map -->
        <div class="icon-container"> 
            <a href="{{ url_for('map') }}">
                <i class="bx bxs-map-pin icon"></i>
            </a>
        </div>
        <!-- Favorites Page -->
        <div class="icon-container"> 
            <a href="{{ url_for('favorites') }}">
                <i class="bx bxs-buildings icon"></i>
            </a>
        </div>
    </div>
    <!-- End of Nav Bar -->

    <div class="container">
        <div class="user-profile">
             <div class="user-details" id="userProfileContainer">
                <form action ="/{{ username }}.html" method="post">
                    <h1>User Profile</h1>
                    <img src="../static/icons/hangogo.png" alt=""><br>
                    <!-- Adding the edit functionality with a form (Lizeth) -->
                    <label for="first_name">First Name</label>
                    <p id="first_name">{{first_name}}</p>
                    <input type="text" id="edit_first_name" name="edit_first_name" style="display: none;">
                        
                    <label for="last_name">Last Name</label>
                    <p id="last_name">{{last_name}}</p>
                    <input type="text" id="edit_last_name" name="edit_last_name" style="display: none;">
                        
                    <label for="email">Email</label>
                    <p id="email">{{email}}</p>
                    <input type="text" id="edit_email" name="edit_email" style="display: none;">
                        
                    <label for="birthday">Birthday</label>
                    <p>{{birth_month}}/{{birth_day}}/{{birth_year}}</p>

                    <!-- Buttons to submit the form with the changes the user makes -->
                    <button id="editButton" type="button" onclick="enableEditMode()">Edit Details</button>
                    <button type="submit" style="display: none;">Save Changes</button>
                    <button id="cancelButton" type="button" onclick="cancelEditMode()" style="display: none;">Cancel</button>
                </form>
             </div>

             <!-- Hidden choices (Lizeth)-->
            <div class="more-choices" id="moreChoicesContainer" style="display: none;">
                <form action="{{ url_for('delete_acct') }}" method="post">
                    <p>Location</p>

                    <a href="{{ url_for('change_password') }}" id="changePsw">Change Password</a>
                
                    <!-- Delete Account button -->
                    <button type="submit" id="deleteButton" onclick="delete_acct()">Delete Account</button>
                </form>
                
            </div>

            <button class="arrow_down" onclick="toggleDetails()">
                <p3>▼</p3>
            </button>


        </div>

        <div class="button-container">
            <button onclick="expandProfile()" class="expandProfileBtn"><i class="fa-solid fa-chevron-right"></i></button>
            <button onclick="expandChatbox()" class="expandChatboxBtn"><i class="fa-solid fa-chevron-left"></i></button>
        </div>

        <div class="user-chatbox">
            <hr class="horizontal-line">
            <div class="chat1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div id="place-list">
                {% for place in place_list %}
                <div id="place-{{ place._id }}">
                    <p>{{place.name}}</p>
                    <p>{{place.address}}</p>
                    <p class="place-link">{{ place.weblink}}</p>
                    <button onclick="addToFavorites({{loop.index0}})">
                    Add to Favorites List
                    </button>
                    <button onclick="sharePlace('{{ place._id }}')">
                    Share Location
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    
    <script src="../static/js/landing_page.js"></script>
    <script src="../static/js/share_place_location.js"></script>

    <!-- Editing mode & Delete Account (Lizeth) -->
    <script src="../static/js/landing_page_edit.js"></script>

</body>
</html>