<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/landing_page_edit.js"></script>
    <div class="logo">
        <h1>hangogo</h1>
        <ul>
            <li><a href="logout">logout</a></li>
        </ul>
    </div>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/landing_page.css">
    <title>Welcome to hangogo</title>
</head>
<body>
    <div class="container">
        <div class="user-profile">
            <h1>User Profile</h1>
            <img src="../static/icons/hangogo.png" alt="">
            <div class="account-details">
                <label for="first_name">First Name</label>
                <span id="first_name" class="editable">{{first_name}}</span>
                <label for="last_name">Last Name</label>
                <span id="last_name" class="editable">{{last_name}}</span>
                <label for="email">Email</label>
                <span id="email" class="editable">{{email}}</span>
                <label for="birthday">Birthday</label>
                <span id="birthday" class="editable">{{birth_month}}/{{birth_day}}/{{birth_year}}</span>
            </div>
            <!-- Adding the edit functionality (Lizeth) -->

            <button id="editButton" onclick="enableEditMode()">Edit Details</button>

            <!-- Cancel and Save Button for when enabeling editing mode -->
            <button id="cancelButton" onclick="cancelEditMode()" style="display: none;">Cancel</button>

            <button id="saveButton" onclick="saveDetails()" style="display: none;">Save Details</button>

        </div>
        <div class="user-chatbox">
            <hr class="horizontal-line">
            <div class="chat1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    
    <!-- Editing mode (Lizeth) -->
    <script src="../scripts/landing_page_edit.js"></script>
    <script>
        function enableEditMode() {
            // elements being edited - birthday is not allowed to be edited 
            var firstName = document.getElementById('first_name');
            var lastName = document.getElementById('last_name');
            var email = document.getElementById('email');

            // create input fields for editing
            var inputFirstName = createInputField(firstName.innerText, 'first_name');
            var inputLastName = createInputField(lastName.innerText, 'last_name');
            var inputEmail = createInputField(email.innerText, 'email');

            // Replace text with input fields
            firstName.innerHTML = '';  // Clears existing content
            firstName.appendChild(inputFirstName);
            
            lastName.innerHTML = '';  
            lastName.appendChild(inputLastName);

            email.innerHTML = '';
            email.appendChild(inputEmail);

            // Shows only the save and cancel buttons
            document.getElementById('editButton').style.display = 'none';
            document.getElementById('saveButton').style.display = 'inline-block';
            document.getElementById('cancelButton').style.display = 'inline-block'
        }
        // Cancel Edit Mode
        function cancelEditMode() {
    
        var firstName = document.getElementById('first_name');
        var lastName = document.getElementById('last_name');
        var email = document.getElementById('email');

        // revert to original content
        firstName.innerHTML = '{{first_name}}';
        lastName.innerHTML = '{{last_name}}';
        email.innerHTML = '{{email}}';

        // Shows Edit button - hides save and cancel buttons
        document.getElementById('editButton').style.display = 'inline-block';
        document.getElementById('saveButton').style.display = 'none';
        document.getElementById('cancelButton').style.display = 'none';
        }

        function createInputField(value, id) {
            var input = document.createElement('input');
            input.type = 'text';
            input.value = value;
            input.id = id;
            return input;
        }
    </script>

</body>
</html>