<!-- login.html -->

<!DOCTYPE html>


<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="centerlogo">
            <h1> hangogo </h1>
            <!-- <img src = "/Website/Logos/hangogo.png" alt = "Hangogo"> -->
        </div>
        <section id = signin> 
            <div class = "container"> 
                <!-- {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                 {% endwith %} -->
                 
                <form method="POST" action = "{{ url_for('login') }}">
                    <h2> sign in </h2>
                    <label for="username"><b>username</b></label><br>
                    <input type="text" placeholder="enter username" id="username" name="username" required>
                    <br><br>
                    <label for="password"><b>password</b></label><br>
                    <input type="password" placeholder="enter password" id="password" name="password" required>
                    <br><br>
                    <input type="submit" class="button1" value="sign in">
                </form>
            </div>
            <div class="container">
                <span class="password"> <a href="#"> forgot password?</a></span>
                <span class="signup"> <a href="register"> signup</a></span>
              </div>
        </section>

        <script>
            // here will be the validation script
        </script>
    </body>

</html>