<!-- verify.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/x-icon" href="../static/icons/Hango-icon.png">

    </head>
    <body>
        <header>
            <div id="logo">
                <img src="../static/icons/hangogo.png" alt="Hangogo">
            </div>
        </header>
        <section id = verify>
            <div class="container">
                <h2> we cant wait to hangogo with you! but first we need to verify your email! </h2>
            </div>
            <div class="container">
                <h2> check the email you registered with to finish verifying and we can begin </h2>
            </div>
            <div class="container">
                <span class="resend"> <a href="#"> click here if you didnt recieve an email</a></span>
            </div>
        </section>
    </body>

</html>